.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ebeaef;
    width: 100vw;
  }
  
  .loginForm {
    background-color: rgb(236, 235, 239);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(8, 8, 8, 0.1);
    width: 300px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: rgb(10, 6, 243);
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    color: #333;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 13px;
    font-size: 14px;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: 1px solid #ccc;
    border-radius: 13px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #02519f;
  }
  
  .submit_container{
    display: flex;
    gap: 30px;
  
  
  }
  