/* src/Attendance.css */
.attendanceContainer {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 5px;
    background-color: #e7e7eb;
    
    
}

.formGroup {
    margin-bottom: 15px;
}

.student-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.student-row input[type="text"] {
    margin-right: 10px;

}

.student-row label {
    margin-left: 10px;
    
}

button {
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #090dd6;
    color: rgb(6, 46, 150);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
